@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&family=Young+Serif&display=swap');


/* SELETORES */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  font-size: 1em;
  font-family: "Red Hat Display", Helvetica, sans-serif;
  color: white;
  background: #090909;
}

/* CLASSES & ID's */
.orange{
  color: #ff5100;
}

.white{
  color: white;
}

#header {
  padding-top: 20px;
  background-color: #000000;
  text-align: center;
}

#menu{
  padding-bottom: 20px;
  padding-top: 20px;
}

/*Formatação do menu */
.navbar-button{
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 3%;
  transition: all 0.2s;
}

.navbar-button:hover{
  outline: white solid 10px 0px 0px 10px;
  text-decoration: underline;
  border-bottom: 10px;
  border-color: #ff5100;
  color: #6a6a6a;
}

.navbar-button.active{
  color: #ff5100;
}
