@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&family=Young+Serif&display=swap');


/* SELETORES */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

body{
  font-size: 1em;
  font-family: "Red Hat Display", Helvetica, sans-serif;
  color: white;
  background: #090909;
}

/* CLASSES & ID's */
.orange{
  color: #ff5100;
}

.white{
  color: white;
}

#header {
  padding-top: 20px;
  background-color: #000000;
  text-align: center;
}

#menu{
  padding-bottom: 20px;
  padding-top: 20px;
}

#page-content{
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

.page-heading{
  font-size: 50px;
}

.page-subheading{
  font-size: 30px;
  font-weight: 300;
}

.thumbnail{
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.thumbnail img{
  object-fit: cover;
  height: 100%;
}

.thumbnail img:hover{
  transition: all 0.3s;
  filter: brightness(0.6);
}

.thumbnail-title{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 40px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  text-shadow:2px 2px 5px #3b3b3b;
}

.thumbnail-subtitle{
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  padding: 10px;
  margin: 10px;

  text-shadow:2px 2px 5px #000000;
}

.paragraph{
  color: rgb(167, 167, 167);
}

.grid-item{
  max-width: 100%;
  transition: all 0.3s;
}

.grid-1-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid-1-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  padding-bottom: 15px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#highlights{
  margin-bottom: 40px;
}

.article{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  padding: 15px;
  border: #ff5100 double 3px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #131313;
}

.article-image{
  object-fit: cover;
  width: 100%;
  max-height: 250px;
  border-radius: 20px;
}

.article-text{
  margin-left: 20px;
}

#footer{
  background-color: #040404;
  color: #6a6a6a;
  padding: 40px;
}

#footer a{
  color: #6a6a6a;
  text-decoration: underline;
}

/* Jogos */
.page-article{
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.page-article-image{
  object-fit: cover;
  width: 100%;
  transition: all 0.3s;
  border-width: 2px;
  border-color: #ff5100;
  height: 400px;
}

.page-article-image:hover{
  transform: scale(1.2);
  filter: brightness(0.6);
}

.page-article-title{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  color: white;
  font-size: 30px;
  text-align: left;
  padding: 10px;
  margin: 10px;
  text-shadow:2px 2px 5px #000000;
}

.main-content{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Newsletter */
form fieldset{
  outline: 0;
  border-width: 0;
  font-size: 25px;
}

form label{
  margin-right: 20px;
  font-size: 20px;
}

form p{
  font-size: 30px;
}

form input{
  background-color: #151515;
  padding: 3px;
  border: #ff5100 solid 1px;
  border-radius: 5px;
  color: white;
}

.form-card{
  border: #2a2a2a solid 10px;
  border-radius: 20px;
  background-color: #151515;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 800px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#email{
  min-width: 470px;
}

#radio{
  padding: 20px;
}

.submit-button{
  color: white;
  background-color: #ff5100;
  border-color: #ff5100;
  font-size: 20px;
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-width: 5px;
  font-weight: 700;
  min-width: 500px;
  transition: all 0.2s;
}

.submit-button:hover{
  cursor: pointer;
}

/*Formatação do menu */
.navbar-button{
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 3%;
  transition: all 0.2s;
}

.navbar-button:hover{
  outline: white solid 10px 0px 0px 10px;
  text-decoration: underline;
  border-bottom: 10px;
  border-color: #ff5100;
  color: #6a6a6a;
}

.navbar-button.active{
  color: #ff5100;
}
